<div class="container">
  <div>
    <form class="comment-form">
      <label for="comment"><strong>COMMENT</strong></label>
      <div>
        <input type="text" id="comment"><br>
        <div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

