<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flower Tetris</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1>Flower Tetris</h1>
      <nav>
        {{#if logged_in}}
          <button class="no-button" id="logout">Logout</button>
        <ul>
          <li>
            <a href="/game">game</a>
          </li>

          <li>
            <a href="/highscores">Highscores</a>
          </li>
        </ul>
        {{else }}
          <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>

    </footer>

    {{#if logged_in }}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
