<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flower Tetris</title>
        <link rel="stylesheet" href="/css/jass.css">
    </head>

    <body>
        <header>
            <h1>Flower Tetris</h1>
            <nav>
                <!-- {{#if logged_in}}
                <button type="button">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}} -->

                <ul>
                    <li>
                        <a href="/homepage">homepage</a>
                    </li>

                    <li>
                        <a href="/game">game</a>
                    </li>

                    <li>
                        <a href="/login">Login</a>
                    </li>
                </ul>

            </nav>
        </header>

        <main>
            {{{body}}}
        </main>
    </body>
</html>

