<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flower Tetris</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <header>
            <h1>Flower Tetris</h1>
            <nav>
                {{#if logged_in}}
                <button type="button">Logout!!!</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}

                <ul>
                    <li>
                        <a href="/homepage">Homepage</a>
                    </li>

                    <li>
                        <a href="/game">Game</a>
                    </li>
                </ul>

            </nav>
        </header>

        <main>
            {{{body}}}
        </main>
    </body>
</html>