<main>
  <div class="container">
  <div id="score-board"></div>

  <div>Next Tetromino</div>
  <canvas id="next-tetromino" width="120" height="120"></canvas>
  <div>Saved Tetromino</div>
  <canvas id="saved-tetromino" width="120" height="120"></canvas>
  <canvas id="tetris" width="320" height="640" >
  <script src="./js/game.js"></script>
  </div>
</main>