<main>
  <div class="container">
  <div class="big-text" id="score-board"></div>

  <div class="big-text">Next Tetromino</div>
  <canvas id="next-tetromino" width="120" height="120"></canvas>
  <div class="big-text">Saved Tetromino</div>
  <canvas id="saved-tetromino" width="120" height="120"></canvas>
  <canvas id="tetris" width="320" height="640" >
  </div>
  <script src="./js/game.js"></script>
  
</main>
