<div class="container">
  <div class="screen">
    <div class="screen__content">
      <div class="login_header">
        <h2>Login/Sign Up</h2>
      </Div>
      <form class="login signup-form">
        <div class="login_field">
          <i class="login_icon fas fa-user"></i>
          <input class="login_input" type="text" id="email-signup" placeholder="Email">
        </div>
        <div class="login_field">
          <i class="login_icon fas fa-user"></i>
          <input type="text" class="login_input" id="name-signup" placeholder="Username">
        </div>
        <div class="login_field">
          <i class="login_icon fas fa-user"></i>
          <input type="password" class="login_input" id="password-signup" placeholder="Password">
        </div>
        <button class="btn btn-primary button login-submit submit" type="submit">
          <span class="button_text">Sign Up Now</span>
          <i class="button_icon fas fa-chevron-right"></i>
        </button>
      </form>
      <form class="login login-form">
        <div class="login_field">
          <i class="login_icon fas fa-user"></i>
          <input type="text" class="login_input" id="email-login" placeholder="Email">
        </div>
        <div class="login_field">
          <i class="login_icon fas fa-lock"></i>
          <input type="password" class="login_input" id="password-login" placeholder="Password">
        </div>
        <button class="btn btn-primary button submit" type="submit">
          <span class="button_text">Log In Now</span>
          <i class="button_icon fas fa-chevron-right"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>