*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: url(/public/images/gamebg.jpg);
  display: flex;
  justify-content: center;
}

#Game {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#tetris{
  border: 4px solid blue;
  border-top: 10px solid rgb(49, 49, 252);
  border-bottom: 10px solid rgb(49, 49, 252);
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;

  background-color: rgba(80, 80, 80, 0.5);
}

#tetris::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #666; /* Set the color of the grid lines */
  box-sizing: border-box;
  pointer-events: none;
}

.Saved-Tetro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: blue;
  color: white;
  margin-top: 50px;
}

#saved-tetromino{
  border: 4px solid blue;
}

.Next-Tetro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: blue;
  color: white;
  margin-top: 50px;
}

#next-tetromino{
  border: 4px solid blue;
}

