html, body {
    height: 100%;
    margin: 0;
  }

body {
    background: gray;
    color: white;
}

canvas {
    border: 1px solid white;
}

#game-intro{
    position: absolute;
    left: 20px;
    top: 0px;
    text-align: center;
    font-family: 'Delicious Handrawn';
}

#game-intro h1{
    font-size: 3em;
}

#tetris{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tetris-box{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tetromino-box{
    display: flex;
    flex-direction: column;
}

#nextTetromino{
    background: black;
}

#saved-tetromino{
    background: black;
}